.avatarMember{
    border: 2px solid @primary-color ;


}
.changePicMember{
    margin:0.3em 0 0.3em 0;
}
.memberpicBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.site-card-wrapper{
    margin: 0 0 5em 0;
}
.rowCard{
    margin-bottom: 3em;
}
.dsCardTitle{
    color:@primary-color;
}
.campOrder3:hover{
    background-color: @body-background;
}
.circleDate{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: @primary-color;


    // text-align: center;
    color:@body-background;
    

}
.month3{
    color:@body-background;

    font-size: 0.5em;
    margin-top: 10%;
    margin-left:9%;

}
.date3{
    color:@body-background;

    font-size: 1.5rem;
    margin-top: -25%;
    margin-left: 20%;

}