.imgInCard {
  width: 400px;
  height: 400px;
}

.Scard {
  width: 400px;
}
/* Extra large devices */
@media (min-width: 1600px) {
   
  }
/* Extra large devices */
@media (min-width: 1200px) {
//  
}
@media (max-width: 1200px) {
    .imgInCard {
        width: 300px;
        height: 300px;
      }
      
      .Scard {
        width: 300px;
      }
  }
/* desktops */
@media (max-width: 992px) {
//  
}
@media (max-width: 848px) {
    .imgInCard {
        width: 250px;
        height: 250px;
      }
      
      .Scard {
        width: 250px;
      } 
    }
/* tablets */
@media (max-width: 768px) {
    .imgInCard {
        width: 300px;
        height: 300px;
      }
      
      .Scard {
        width: 300px;
      } 
}
/* phones */
@media (max-width: 666px) {
    .imgInCard {
        width: 250px;
        height: 250px;
      }
      
      .Scard {
        width: 250px;
      } 
}

/* phones */
@media (max-width: 576px) {
    .imgInCard {
        width: 400px;
        height: 400px;
      }
      
      .Scard {
        width: 400px;
      } 
  }


