.bodybg {
  /* background-color: #e9e3da; */
}
.img1 {
  max-width: 100%;
}
.backgroundPic {
  background: url(../img/camplistbg.png) no-repeat;
  background-size: 100% 4400px;
}

.camplisth1 {
  margin-bottom: 100px;
  font-weight: bold;
  position: relative;
  bottom: -25px;
  color: #6a6842;
  font-size: 48px;
}
select.Dropdown {
  margin-left: 1500px;
  background-color: #e9e3da;
  color: #6a6842;
  border-color: darkgrey;
  border: 1px solid;
  border-color: #6a6842;
  width: 180px;
  margin-bottom: 30px;
}

.search {
  width: 120px;
  border: 0px;
  background-color: #e9e3da;
  border-bottom: 2px solid;
  border-color: #6a6842;
  margin-left: 1550px;
  margin-bottom: 450px;
}

.filterbar {
  font-weight: bold;
  font-size: 36px;
  color: #6a6842;
}
.sidenav {
  font-size: 24px;
  font-weight: bold;
  /* padding-top: 20px; */
  color: #6a6842;
}

.filter1 li {
  margin-left: -25px;
  margin-bottom: -10px;
}
.filter1 {
  color: #6a6842;
  list-style: none;
}
.filter2 {
  color: #6a6842;
  list-style: none;
}
.filter3 {
  color: #6a6842;
  list-style: none;
}

.filter2 li {
  margin-left: -25px;
  margin-bottom: -10px;
}
.filter3 li {
  margin-bottom: -15px;
}
.divinput{
 margin-bottom: -15px;
}

.content {
  width: 288px;

  background-color: transparent;
  border: 0px;
  margin-bottom: 80px;
}
.h5 {
  font-size: 22px;
  font-weight: bold;
}
.content p {
  margin-top: -20px;
  font-size: 22px;
  font-weight: bold;
}

.bookingBtn {
  color: #fcf9f5;
  background-color: #c15f2e;
  border-radius: 0;
  margin-left: 75px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
}
.badge1size {
  width: 50px;

  background-color: #c15f2e;
  border-radius: 0;
  color: #fcf9f5;
  margin-left: 20px;
  font-weight: unset;
}
.badge2size {
  width: 60px;

  background-color: #fcf9f5;
  border-radius: 0;
  color: #6a6842;
  margin-left: 20px;
  font-weight: unset;
}
.badge3size {
  width: 60px;

  background-color: #6a6842;
  border-radius: 0;
  color: #fcf9f5;
  margin-left: 20px;
  font-weight: unset;
}
.movebadge {
  padding-bottom: 15px;
}
.hotcamp {
  background-color: transparent;
  border: 0px;
  margin-bottom: 100px;
}
.hotcamp p {
  font-size: 22px;
  font-weight: bold;
}
 p.hotcampName {
  margin: 10px 0px;
  margin-left: -200px;
  
}
p.hotcampPrice {
  margin-bottom: 10px;
  margin-left: -200px;

}

a.hotbookingBtn {
  color: #fcf9f5;
  background-color: #c15f2e;
  border-radius: 0;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 470px;
}

.campName {
  margin-bottom: 10px;
}
.campPrice {
  margin-bottom: 10px;
}
.bgcolor {
  background-color: #c7d4cb;
}

ul.page li {
  display: inline;
}

ul.page li a {
  font-size: 20px;
  color: #6a6842;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.aside {
  margin-left: 200px;
  top: 100px;
}
.movecontent {
  margin-top: -400px;
}
.movelist {
  margin-top: -300px;
}
.avgnumber {
  font-size: 22px;
  padding-right: 10px;
}
.star {
  margin-bottom: 20px;
  margin-left: 35px;
}
.page {
  background-color: transparent;
  margin-left: 1000px;
  font-size: 36px;
  margin-bottom: 400px;
}
.page li {
  font-size: 36px;
  list-style: none;
  padding-right: 4px;
}
.pagenumber {
  color: #6a6842;
  font-size: 28px;
  border: 0px;
}

.page li :focus {
  color: #fcf9f5;

  background-color: #6a6842;
  padding: 4px 12px;
  text-decoration: none;
}
.page li :hover {
  text-decoration: none;
}

.dropdowncolor {
  background-color: transparent;
}
.dropdownBtncolor {
  color: #6a6842;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.menucolor {
  background-color: transparent;
  border: 0px;
  color: #6a6842;
}
.footerbox {
  height: 307px;
  max-width: 100%;
  background-color: transparent;
}
.asideheight {
  position: absolute;
  height: 2800px;
 
 
 
}
