.footer {
    margin-top: -307px;
    position: relative;
}
.footer-bg {
    max-width: 100%;
}
.footer-bg2 {
    width: 100%;
    height: 240px;
    background: #6A6842;
}

.footer-content {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: calc(65% - 432px / 2);
}

.footer-icon {
    margin: 0 50px;
}

.footer-link {
    margin: 30px 0 20px 0;
}

.footer-link a {
    color: #FCF9F5;
    margin: 0 18px;
}

.footer-name {
    color: #FCF9F5;
}
.go-to-top {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 0;
    background: transparent;
    border: 0;
}