// Bootstrap 預設
$primary:       #6A6842; // 深綠
$secondary:     #C15F2E; // 橘
$success:       #E9E3DA; // 米色
$info:          #DCE1D9; // 淺綠
$warning:       #FFBA34; // 星星黃
$danger:        #F39B9B; // 愛心粉
$light:         #FCF9F5; // 淺米白(底)
$dark:          #C4C4C4; // 文字淺灰

@import '~bootstrap/scss/bootstrap.scss';

// css 用
$dark-green:    #6A6842; // 深綠
$orange:        #C15F2E; // 橘
$light-green:   #DCE1D9; // 淺綠
$beige:         #E9E3DA; // 米色
$ivory:         #FCF9F5; // 淺米白(底)
$gray:          #C4C4C4; // 文字淺灰
$star:          #FFBA34; // 星星黃
$heart:         #F39B9B; // 愛心粉
