$hotcampwidth: 200px *5.35;
$hotcamptagWidth: 85px * 5.35;
$hotcamptagWordTop: 25px*5.35;
$hotcamptagWordLeft: 20px*5.35;
$hotcamptagWordSize: 11px * 5.35;

.hotcamptag {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $hotcamptagWidth $hotcamptagWidth 0 0;
  border-color: #c15f2ebe transparent transparent transparent;
  position: absolute;
  z-index: 99;
  clip-path: polygon(150% 0%, 59% 0, 0 59%, 0 100%);
}

.hotcamptagStar {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $hotcamptagWidth $hotcamptagWidth 0 0;
  border-color: rgba(251, 188, 5, 0.8) transparent transparent transparent;
  position: absolute;
  z-index: 99;
  clip-path: polygon(150% 0%, 59% 0, 0 59%, 0 100%);
}

.hotcamptagWord {
  position: absolute;
  top: $hotcamptagWordTop;
  left: $hotcamptagWordLeft;
  transform: rotate(-45deg);
  color: #e9e3da;
  font-size: $hotcamptagWordSize;
  z-index: 100;
}

// --------pic small for product and camp--------------------------------------------
.hotcampPicBox {
  position: relative;
  width: $hotcampwidth;
  height: $hotcampwidth;
 
}
.hotcamplist_item {
  width: $hotcampwidth;
  height: $hotcampwidth;
  overflow: hidden;
  position: relative;
  clip-path: polygon(
    25% 0%,
    100% 0,
    100% 25%,
    100% 75%,
    75% 100%,
    25% 100%,
    0 100%,
    0% 25%
  );
}
.hotcamppic {
    max-height: 100%;
 height: 650px;
  object-fit: cover;
  object-position: -50px;
}
