.product-size-select {
    background: #FCF9F5;
    border: 2px #6A6842 solid;
    color: #6A6842;
    width: 210px;
    height: 45px;
    margin-top: 32px;
    font-size: 20px;
    padding-left: 14px;
}
option:hover {
    background: #6A6842;
}