@import "./Variables.scss";

/* 全體 */
.product-detail-main {
  background: $ivory;
  padding-top: 55px;
  padding-bottom: 118px;
}

/* 主圖&標題 */
.main-pic {
  // width: 700px;
  // height: 700px;
}
// .main-pic img {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
// }

.product-main-info h1 {
  // font-size: 60px;
  line-height: 140%;
  margin: 0;
}
.product-detail-price {
  align-items: center;
  margin-top: 25px;
}
.product-detail-price h3 {
  // font-size: 36px;
}
.product-detail-price h5 {
  // font-size: 24px;
  margin: 0 40px 0 40px;
}

// 選顏色
.choose-color {
  width: 45px;
  height: 45px;
  margin-right: 17px;
}
.product-color-1 {
  background: #90cdd1;
}
.product-color-2 {
  background: #dfadad;
}
.product-color-3 {
  background: #bed1a6;
}

// 選尺寸
.product-size-select {
  background: #fcf9f5;
  border: 2px #6a6842 solid;
  color: #6a6842;
  width: 210px;
  height: 45px;
  margin-top: 32px;
  font-size: 20px;
  padding-left: 14px;
}
option:hover {
  background: #6a6842;
}

// 選數量
.product-amount {
  margin-top: 32px;
}

.product-heart-number {
  color: #f39b9b;
  font-size: 42px;
  background-color: transparent;
  border: transparent;
}
.product-heart-number img {
  margin-right: 14px;
}

.btn-buy {
  width: 100%;
  height: 74px;
  font-size: 28px;
}
.add-to-cart {
  border: none;
  background: #c15f2e;
  color: #fcf9f5;
  margin-top: 40px;
}
.buy-right-now {
  border: 2px #c15f2e solid;
  background: #fcf9f5;
  color: #c15f2e;
  margin-top: 20px;
}

// 介紹
.horizontal-line {
  height: 1px;
  width: 380px;
  background: #6a6842;
  margin: 176px auto 0 auto;
}
.product-intro {
  font-size: 18px;
  color: #6a6842;
  text-align: center;
  margin-top: 50px;
}
.product-pic-banner {
  width: calc(100vw - 10px);
  height: 720px;
  margin-top: 116px;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}
.product-pic-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// 商品特色 & 尺寸規格
.product-intro-2.first {
  margin-top: 152px;
}
.product-intro-2.first col {
  position: relative;
}
.product-pic-small {
  //   width: 100%;
  //   height: 553px;
  //   position: relative;
}
.product-pic-small img {
  object-fit: cover;
  width: calc(100% - 34px);
  height: calc(100% - 32px);
}
.product-pic-fram {
  width: calc(100% - 30px);
  height: calc(100% - 32px);
  border: 2px #6a6842 solid;
  position: absolute;
  left: 30px;
  top: 32px;
}
.triangle-left {
  position: absolute;
  left: -50px;
  top: -25px;
}
.triangle-right {
  position: absolute;
  left: 100px;
  top: -25px;
}
.horizontal-line-short {
  height: 1px;
  width: 63px;
  background: #6a6842;
  margin-top: 30px;
}
.product-intro-2 p {
  font-size: 18px;
  margin-top: 30px;
}
.product-special {
  height: fit-content;
  position: relative;
  max-width: 450px;
}
.product-intro-2.second {
  margin-top: 90px;
}

// 大圖*2
.product-pic-large {
  width: 100%;
  height: 540px;
}
.product-pic-large img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-pic-large.first {
  margin-top: 186px;
}
.product-pic-large.second {
  margin-top: 53px;
}

// --------------------------------------
$width: 200px * 3.5;
$tagWidth: 85px * 3.5;
$tagWordTop: 25px * 3.5;
$tagWordLeft: 20px * 3.5;
$tagWordSize: 11px * 3.5;

.tag {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $tagWidth $tagWidth 0 0;
  border-color: #c15f2ebe transparent transparent transparent;
  position: absolute;
  z-index: 99;
  clip-path: polygon(150% 0%, 59% 0, 0 59%, 0 100%);
}

.tagStar {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $tagWidth $tagWidth 0 0;
  border-color: rgba(251, 188, 5, 0.8) transparent transparent transparent;
  position: absolute;
  z-index: 99;
  clip-path: polygon(150% 0%, 59% 0, 0 59%, 0 100%);
}
.tagNoStock {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $tagWidth $tagWidth 0 0;
  border-color: #c4c4c4 transparent transparent transparent;
  position: absolute;
  z-index: 99;
  clip-path: polygon(150% 0%, 59% 0, 0 59%, 0 100%);
}
.tagWord {
  position: absolute;
  top: $tagWordTop;
  left: $tagWordLeft;
  transform: rotate(-45deg);
  color: #e9e3da;
  font-size: $tagWordSize;
  z-index: 100;
}

// --------pic small for product and camp--------------------------------------------
.orderPicBox {
  position: relative;
  width: $width;
  height: $width;
}
.list_item1 {
  width: $width;
  height: $width;
  overflow: hidden;
  position: relative;
  clip-path: polygon(
    25% 0%,
    100% 0,
    100% 25%,
    100% 75%,
    75% 100%,
    25% 100%,
    0 100%,
    0% 25%
  );
}
.pic1 {
  object-fit: contain;
  object-position: -50px;
  max-block-size: 100%;
}
