@import "./Variables.scss";

.shopping-cart-title {
  padding: 82px 0 80px 0;
}

.checkout-flow {
  padding: 0 200px;
}
.checkout-flow h3 {
  padding: 10px 27px;
  margin: 0;
}
// 沒有清除購物車就加上這個
.checkout-flow-margin {
  margin-bottom: 96px;
}
// 背景綠色選取
.checkout-flow-bg-green {
  background: $dark-green;
  color: $ivory;
}
.clear-cart {
  margin: 20px 0;
}
.clear-cart button {
  background: transparent;
  border: 2px $dark-green solid;
  padding: 14px 40px;
  color: $dark-green;
  font-size: 16px;
}

.cart-dividing-line-full {
  width: calc(100vw - 10px);
  height: 1px;
  background: $gray;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  margin-top: -1px;
}
