@import "./global.scss";

/* 全體 */
.container.custom-container-width {
    // max-width: 1470px;
}

.shopping-cart-main {
    background: $ivory;
    color: $dark-green;
    padding-bottom: 307px;
}

// 上半部內容
.shopping-cart-title {
    padding: 82px 0 80px 0;
}

.checkout-flow {
    padding: 0 200px;
}
.checkout-flow h3 {
    padding: 10px 27px;
}
.checkout-flow-cart {
    background: $dark-green;
    color: $ivory;
    margin: 0;
}
.clear-cart {
    margin: 20px 0;
}
.clear-cart button {
    background: transparent;
    border: 2px $dark-green solid;
    padding: 14px 40px;
    color: $dark-green;
    font-size: 16px;
}

.cart-dividing-line-full {
    width: calc(100vw);
    height: 1px;
    background: $gray;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
}

// 購物車內商品
.cart-product {
    margin: 52px 0;
}
.cart-product-pic {
    width: 400px;
    height: 400px;
}
.cart-product-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cart-content {
    // margin: auto 0;
    height: 400px;
}
.cart-producr-title {
    width: 235px;
}
.cart-producr-title h3 {
    font-size: 36px;
}
.cart-producr-title h6 {
    font-size:24px;
    color: #9CAF89;
}
.cart-remove-btn {
    padding: 16px 40px;
    color: $orange;
    font-size: 14px;
    background: transparent;
    border: 2px $orange solid;
}
.cart-product-heart {
    background-color: transparent;
    border: transparent;
    margin-left: 20px;
}

.cart-use-point {
    margin-top: -52px;
}
.cart-use-point h3 {
    margin: 0;
}
.cart-use-point button {
    background: $orange;
    color: $ivory;
    padding: 14px 40px;
    border: 0;
    margin-left: 18px;
}
.cart-dividing-line-medium {
    width: 100%;
    height: 1px;
    background: $gray;
}

// 總和區塊
.cart-total-block {
    font-size: 36px;
    margin-top: 27px;
}
.cart-discount-input {
    margin-top: 22px;
}
.cart-discount-input input {
    background: transparent;
    border: 2px $dark-green solid;
}
.cart-discount-input button {
    padding: 14px 40px;
    background: transparent;
    border: 2px $orange solid;
    color: $orange;
    font-size: 16px;
    margin-left: 23px;
}
.cart-dividing-line-short {
    width: 100%;
    height: 1px;
    background: $gray;
    margin: 8px 0;
}
.cart-checkout-btn {
    width: 100%;
    height: 74px;
    background: $orange;
    border: 0;
    color: $ivory;
    margin-top: 30px;
}
.cart-continue-btn {
    width: 100%;
    height: 74px;
    background: transparent;
    border: 2px $orange solid;
    color: $orange;
    margin-top: 22px;
}
.cart-point-this-time {
    margin-top: 100px;
}
.cart-point-rest {
    margin-bottom: 100px;
}